CLIPPER_DATA_DIR=./data
CLIPPER_DATABASE_URL=sqlite:///./data/clipper.db
CLIPPER_EDITORIAL_BASE_URL=http://127.0.0.1:11434
CLIPPER_DOCKER_EDITORIAL_BASE_URL=http://host.docker.internal:11434
CLIPPER_EDITORIAL_MODEL=qwen3:8b-q4_K_M
CLIPPER_WHISPER_MODEL=large-v3-turbo
CLIPPER_MAX_UPLOAD_BYTES=8589934592
CLIPPER_MAX_DURATION_SECONDS=21600
CLIPPER_WEB_PORT=3000
CLIPPER_API_PORT=8000
CLIPPER_BROWSER_API_URL=http://127.0.0.1:8000/api
